html, body {
  height: 100%;
}

.content-body {
  margin: 0;
  width: 100%;
}

.content-pla-vp-1 {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.content-pla-vp-2 {
  width: 100%;
}

.content-pla-vp-1-head {
  width: 100%;
}

.content-pla-vp-1-middle {
  width: 100%;
  justify-content: center;
}

.content-pla-vp-1-middle-content {
  width: 100%;
}

#bolder-1 {
  font-weight: bolder;
}

.content-headline {
  text-align: center;
  padding: 5px;
}

.content-text {
  font-size: 10px;
  padding: 15px;
}

.content-table {
  padding: 0;
}

.content-link {
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}

.content-link:link, .content-link:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#content-text-important {
  font-size: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  border: none;
}

th, td {
  text-align: left;
}


.table-list {
  text-align: left;
  border: none;
  font-size: 16px;
  padding: 2px;
  justify-content: center;
}

#text-center {
  text-align: center;
}

#center {
  display: flex;
  align-items: center;
  justify-content: center;
}
